<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="UniversityDataBase.Properties.Settings.Setting" connectionString="Data Source=MARYAN\SQLEXPRESS;Initial Catalog=University;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>